body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: linear-gradient(to right, #55cdfc, #f7a8b8, #ffffff, #f7a8b8, #55cdfc);
    padding: 20px;
    text-align: center;
}

.title {
    font-weight: bold;
    margin: 0;
    font-size: 2rem;
    color: black;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #ccc;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.install-button {
    background-color: #4b0082;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

.install-button:hover {
    background-color: #6a5acd; 
}