body {
    background-color: #121212; 
    color: #ffffff; 
    font-family: Arial, sans-serif;
    margin: 0;
}

#sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #282828;
    padding-top: 20px;
    overflow-y: auto; 
}

#content {
    margin-left: 250px;
    padding: 20px;
}

.movie-button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: #ffffff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.source-button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: #ffffff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}


.source-button:hover {
    transform: scale(1.05);
}

.movie-button:hover {
    transform: scale(1.05);
}

h3 {
    color: #eeeeee;
}

a {
    color: #ffffff; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error-message {
    background-color: #ff6347; 
    color: #ffffff; 
    padding: 10px;
    margin-bottom: 10px;
}
