body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e; 
    color: #ffffff;
}

#sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2d2d2d; 
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

#sidebar h3 {
    color: #ffffff;
}

#content {
    margin-left: 250px;
    padding: 20px;
}

.movie-button {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #3d3d3d;
    transition: background-color 0.3s;
}

.movie-button:hover {
    background-color: #4d4d4d; 
}

a {
    text-decoration: none;
}

#sidebar center {
    margin-bottom: 20px;
}

#content center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Styling scrollbar for sidebar */
#sidebar::-webkit-scrollbar {
    width: 8px;
}

#sidebar::-webkit-scrollbar-thumb {
    background-color: #4d4d4d; /* Dark scrollbar color */
    border-radius: 10px;
}

#sidebar::-webkit-scrollbar-track {
    background-color: #2d2d2d; /* Dark scrollbar track color */
}

/* Styling scrollbar for content */
#content::-webkit-scrollbar {
    width: 8px;
}

#content::-webkit-scrollbar-thumb {
    background-color: #4d4d4d; /* Dark scrollbar color */
    border-radius: 10px;
}

#content::-webkit-scrollbar-track {
    background-color: #1e1e1e; /* Dark scrollbar track color */
}
